@font-face {
    font-family: 'scriptinaregular';
    src: url('./assets/font/scriptin-webfont.woff2') format('woff2'),
        url('./assets/font/scriptin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    font-family: 'scriptinaregular'
}

.img {
    width: 100%;
    z-index: 0;
}

.text-over-img {
    text-align: center;
    z-index: 1;
    font-family: 'scriptinaregular';
    color: #F4E5D2;
    margin-top: -90px;
    font-weight: 0;
    font-size: 40px;
    text-align: center;
    width: 100%;
    line-height: 1;
}

.Always {
    font-family: 'scriptinaregular';
    color: #4D0C20;
}

.linkDireccion {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none !important;
    color: #212529 !important;
}